@import url('style.css');


@font-face {
    font-family: 'MinhaFonte';
    src: url('../fonts/minha-fonte.ttf') format('truetype');
}


.titulo-inicio {
    color: red;
}

.destaque-inicio {
    color: rgb(255, 255, 255);
}

.paragrafo-inicio {
    color: #ffffff;
}


body.home {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-menu {
    display: flex;
    gap: 30px;
}

.nav-menu a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.nav-menu a:hover {
    background-color: red;
    color: white;
}

.container-inicio {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.titulo-inicio {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.destaque-inicio {
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 1px;
}

.paragrafo-inicio {
    font-size: 1.2rem;
    font-weight: lighter;
    margin-top: 10px;
}

footer {
    background-color: #e0e0e0;
    padding: 20px;
    width: 100vw;
    font-size: 14px;
    color: #000000;
    margin-top: 40px;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    text-align: center; 
}
